# Terraform
**/.terraform/*

*.tfstate
*.tfstate.*

crash.log
crash.*.log

*secret.auto.tfvars
*.tfvars.json

override.tf
override.tf.json
*_override.tf
*_override.tf.json

.terraformrc
terraform.rc

# Ignore Secret YAML Files
*.secret.yaml
